@model IEnumerable<CSharpNetCore.Entidades.Escuela>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.A침oCreaci칩n)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEscuela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantAlumnos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniqueId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.A침oCreaci칩n)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEscuela)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantAlumnos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniqueId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EscuelaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EscuelaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EscuelaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
